<div id="about">

  <div class="container">
    <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <h1>About</h1>

      <img style="float: left; margin:0  25px 10px 0;" src="assets/images/space/2.jpg"
            alt="House of Leisure - the 24 track Control Room" height="" width=""/>

      <p><strong>In the heart of downtown Seattle</strong>, a musical haven known as the House of Leisure emerged, etching its legacy
        between the years 1991 and 1996.
        A tale of ingenuity and camaraderie, this recording studio's journey began with Gary King, a visionary with a
        passion for sound.
        With a stroke of entrepreneurial spirit, Gary leased a sprawling 4000 square foot abandoned auto empty
        transmission shop, a forgotten relic at 4th and Battery (Seattle, WA).</p>

      <p class="float-none"><strong>Yet, this was not a solo venture</strong>. The House of Leisure's genesis was intertwined with the efforts of kindred
        spirits:
        Aaron Shilly, James Brickell, Gerry Amandes, Reyza, Woobie, Bob Jacoby and a circle of devoted friends.
        Together,
        they embarked on a transformational odyssey,
        channeling their combined skills in sheetrock craftsmanship, electrical wizardry, and plumbing finesse. The
        result
        was a metamorphosis
        that turned the once-dormant "Accutrans Transmission Shop" into a sanctuary for musical creation—a true
        recording
        space.</p>
      <img style="float: left; margin:0  25px 10px 0;" src="assets/images/space/control-room-24-track.JPG"
           alt="House of Leisure - The Big Room" height="" width=""/>
      <p class="float-none"><strong>Gary King, assuming the roles of owner, operator, and chief engineer</strong>.
        With meticulous care and a discerning ear,
        he orchestrated the studio's setup, weaving together the intricate threads of technology, acoustics, and
        creativity.
        As the faders were raised and the microphones found their voices, innovation reverberated within those
        walls.</p>


      <p><strong>House of Leisure quickly became a magnet for artists</strong>,
        both aspiring and accomplished. Musicians from various corners of the city gravitated toward this beacon of
        sonic
        excellence.
        Gary's expertise and the studio's inviting ambience cultivated an environment where music flowed freely,
        unshackled by constraints.
        The recording studio hummed with life as projects spanning genres took shape—from rock anthems that shook the
        foundations to soulful ballads that touched hearts.</p>

      <p><img style="float: left; margin:0  25px 10px 0; height: auto; width: 100%; max-width: 400px;" src="assets/images/space/Photo_087.jpg"
              alt="House of Leisure - The Big Room" height="" width=""/><strong>Sadly</strong>, The era ended with a fire that destroyed the studio.
        The crew went their separate ways to find other musical outlets. Gary King went of to form
        <a href="https://garykingproject.com" target="_blank">The Gary King Project</a> and
        <a href="https://loveandfurymusic.com" target="_blank">Love and Fury</a> a rock band with Gretta Harley.</p>
    </div>
    </div>

  </div>
</div>

