<div class="row"> 

    <div class="col-lg-12 col-md-12 col-sm-12">

        <div class="data-container">
            <div><img src="../assets/images/space/home-top-image.png" alt=""></div>
            <p [innerHTML]="pagedata.pcontent1" *ngIf="pagedata.pcontent1">{{pagedata.pcontent1}}</p>
            <p [innerHTML]="pagedata.pcontent2" *ngIf="pagedata.pcontent2">{{pagedata.pcontent2}}</p>
            <h2>House of Leisure is website down for a massive rebuild. Back soon!</h2>
        </div>

    </div>
</div>