html body {
  font-size: 20px;
  line-height: 1.5;
  text-align: left;
}

.home-image-container {
  width: 100%;
  margin: 20px 0;
  padding: 0;
}

.home-image-container {

}

#bands {
  font-size: .8em;
}

 a {
  color: #c77e11;
   text-decoration: none;
}

 a:hover {
  color: #666;
}



