<h1>About</h1>
<div class="col-lg-9 col-md-9 col-sm-12">

<h2>House Of Leisure</h2>
  <p>In the heart of downtown Seattle, a musical haven known as the House of Leisure emerged, etching its legacy between the years 1991 and 1996.
    A tale of ingenuity and camaraderie, this recording studio's journey began with Gary King, a visionary with a passion for sound.
    With a stroke of entrepreneurial spirit, Gary leased a sprawling 4000 square foot abandoned auto empty transmission shop, a forgotten relic at 4th and Battery (Seattle, WA).</p>

  <p>Yet, this was not a solo venture. The House of Leisure's genesis was intertwined with the efforts of kindred spirits:
    Aaron Shilly, Gerry Amandes, Reyza, Woobie, James Brickell and a circle of devoted friends. Together, they embarked on a transformational odyssey,
    channeling their combined skills in sheetrock craftsmanship, electrical wizardry, and plumbing finesse. The result was a metamorphosis
    that turned the once-dormant "Accutrans Transmission Shop" into a sanctuary for musical creation—a true recording space.</p>

  <p>At the helm of this auditory haven stood Gary King, assuming the roles of owner, operator, and chief engineer. With meticulous care and a discerning ear,
    he orchestrated the studio's setup, weaving together the intricate threads of technology, acoustics, and creativity.
    As the faders were raised and the microphones found their voices, innovation reverberated within those walls.</p>

  <p>House of Leisure quickly became more than just a business; it was a magnet for artists,
    both aspiring and accomplished. Musicians from various corners of the city gravitated toward this beacon of sonic excellence.
    Gary's expertise and the studio's inviting ambience cultivated an environment where music flowed freely, unshackled by constraints.
    The recording studio hummed with life as projects spanning genres took shape—from rock anthems that shook the foundations to soulful ballads that touched hearts.</p>

</div>
