<div class="home-page-link-icons">

    <ul class="page-link-icons list-inline list-unstyled">

        <!-- <img class="home-page-icon" src="assets/images/home-icon.png" alt="Home"/>       -->
        <li><a [routerLink]="['/home']" [routerLinkActive]="['active']">
          <div class="small">Home</div>
          </a>
        </li>

        <!-- <img class="home-page-icon" src="assets/images/home-icon.png" alt="Home"/>       -->
        <li><a [routerLink]="['/about']" [routerLinkActive]="['active']">
          <div class="small">About</div>
          </a>
        </li>

        <!-- <img class="home-page-icon" src="assets/images/home-icon.png" alt="Home"/>       -->
        <li><a [routerLink]="['/bands']" [routerLinkActive]="['active']">
            <div class="small">Recordings</div>

            </a>
        </li>

      </ul>

  </div>
