<div class="container">

  <!--      <div><img src="../assets/images/space/home-top-image.png" alt=""></div>-->

  <!--    <p [innerHTML]="pagedata2" *ngIf="pagedata2">{{pagedata2}}</p>
       <p [innerHTML]="pagedata2" *ngIf="pagedata2">{{pagedata2}}</p>
       <p [innerHTML]="pagedata2" *ngIf="pagedata2">{{pagedata2}}</p>-->


  <p [innerHTML]="pagedata1">{{pagedata1}}</p>
  <p [innerHTML]="pagedata2">{{pagedata2}}</p>
  <p [innerHTML]="pagedata3">{{pagedata3}}</p>
  <p [innerHTML]="pagedata4">{{pagedata4}}</p>
  <h4><a routerLink="/bands" target="_self">View all the bands that have recorded at HOL!</a></h4>

  <!--<div *ngFor="let item of pagedata2; let i = index;">
  &lt;!&ndash;  {{item.pcontent1}}&ndash;&gt;
    {{item}}  test
    </div>-->

</div>

<div class="container">
  <div class="home-image-container ">

    <div class="col-sm-12 col-md-4 col-lg-4">
      <img src="./assets/images/space/localurlgraphicsmall-375x250/localurlgraphicsmall12.png"
           alt="24/16 track Control room">
    </div>

    <div class="col-sm-12 col-md-4 col-lg-4">
      <img src="./assets/images/space/localurlgraphicsmall-375x250/localurlgraphicsmall21.png" alt="Control Room">
    </div>


    <div class="col-sm-12 col-md-4 col-lg-4">
      <img src="./assets/images/space/localurlgraphicsmall-375x250/localurlgraphicsmall3.png"
           alt="Ben McMillian video shoot">
    </div>
  </div>
</div>

<div class="container">
  <div class="home-image-container ">

    <div class="col-sm-12 col-md-4 col-lg-4">
      <img src="./assets/images/space/localurlgraphicsmall-375x250/localurlgraphicsmall14.png"
           alt="The 24 track machine">
    </div>

    <div class="col-sm-12 col-md-4 col-lg-4">
      <img src="./assets/images/space/localurlgraphicsmall-375x250/localurlgraphicsmall5.png"
           alt="Andy Davenhall - Sister Psychic">
    </div>

    <div class="col-sm-12 col-md-4 col-lg-4">
      <img src="./assets/images/space/localurlgraphicsmall-375x250/localurlgraphicsmall6.png"
           alt="Prep for upcoming showcase">
    </div>
  </div>
</div>

<div class="container">
  <div class="home-image-container ">

    <div class="col-sm-12 col-md-4 col-lg-4">
      <!--      <img src="./assets/images/space/chriscornell.jpg" alt="Chris Cornell at Stone Gossard 24 hour jam">-->

      <img src="./assets/images/space/localurlgraphicsmall-375x250/localurlgraphicsmall7.png"
           alt="Live setup for showcase">
    </div>

    <div class="col-sm-12 col-md-4 col-lg-4">
      <img src="./assets/images/space/localurlgraphicsmall-375x250/localurlgraphicsmall1.png"
           alt="Mark Nichols ensemble">
    </div>

    <div class="col-sm-12 col-md-4 col-lg-4">
      <img src="./assets/images/space/localurlgraphicsmall-375x250/localurlgraphicsmall8.png" alt="Ten Minute Warning">
    </div>
  </div>
</div>


<div class="container">
  <div class="home-image-container ">

    <div class="col-sm-12 col-md-4 col-lg-4">

      <img src="./assets/images/space/localurlgraphicsmall-375x250/localurlgraphicsmall9.png" alt="Stone Gossard Jam">
    </div>

    <div class="col-sm-12 col-md-4 col-lg-4">
      <img src="./assets/images/space/localurlgraphicsmall-375x250/localurlgraphicsmall10.png" alt="The Big Room">
    </div>
    <div class="col-sm-12 col-md-4 col-lg-4">
      <img src="./assets/images/space/localurlgraphicsmall-375x250/localurlgraphicsmall19.png" alt="Stone Gossard Jam">

    </div>
  </div>
</div>

<div class="container">
  <div class="home-image-container ">

    <div class="col-sm-12 col-md-4 col-lg-4">
      <!--            <img src="./assets/images/space/Photo_119.jpg" alt="Chris Cornell at Stone Gossard 24 hour jam">-->

      <img src="./assets/images/space/localurlgraphicsmall-375x250/localurlgraphicsmall16.png" alt="Stone Gossard Jam">
    </div>

    <div class="col-sm-12 col-md-4 col-lg-4">
      <img src="./assets/images/space/localurlgraphicsmall-375x250/localurlgraphicsmall17.png" alt="The Big Room">
    </div>
    <div class="col-sm-12 col-md-4 col-lg-4">
      <img src="./assets/images/space/localurlgraphicsmall-375x250/localurlgraphicsmall11.png"
           alt="Fire in the Control Room">

    </div>
  </div>
</div>


