

  <div class="container">

        <!--      <div><img src="../assets/images/space/home-top-image.png" alt=""></div>-->

        <p [innerHTML]="pagedata.pcontent1" *ngIf="pagedata.pcontent1">{{pagedata.pcontent1}}</p>
        <p [innerHTML]="pagedata.pcontent2" *ngIf="pagedata.pcontent2">{{pagedata.pcontent2}}</p>
        <p [innerHTML]="pagedata.pcontent3" *ngIf="pagedata.pcontent2">{{pagedata.pcontent3}}</p>
        <h3><a routerLink="/bands" target="_self">View all the bands that have recorded at HOL!</a></h3>



  </div>

<div class="container">
  <div class="home-image-container ">

    <div class="col-sm-12 col-md-4 col-lg-4">
      <img src="./assets/images/space/2.jpg" alt="24/16 track Control room">
    </div>

    <div class="col-sm-12 col-md-4 col-lg-4">
      <img src="./assets/images/space/control1.jpg" alt="Control Room">
    </div>


    <div class="col-sm-12 col-md-4 col-lg-4">
      <img src="./assets/images/space/3.jpg" alt="Ben McMillian video shoot">
    </div>
  </div>
</div>

<div class="container">
  <div class="home-image-container ">

    <div class="col-sm-12 col-md-4 col-lg-4">
      <img src="./assets/images/space/24tr.BMP" alt="The 24 track machine">
    </div>

    <div class="col-sm-12 col-md-4 col-lg-4">
      <img src="./assets/images/space/andyphyschic.jpg" alt="Andy Davenhall - Sister Psychic">
    </div>

    <div class="col-sm-12 col-md-4 col-lg-4">
      <img src="./assets/images/space/bobjacoby1.jpg" alt="Prep for upcoming showcase">
    </div>
  </div>
</div>

<div class="container">
  <div class="home-image-container ">

    <div class="col-sm-12 col-md-4 col-lg-4">
      <!--      <img src="./assets/images/space/chriscornell.jpg" alt="Chris Cornell at Stone Gossard 24 hour jam">-->

      <img src="./assets/images/space/Photo_117.jpg" alt="Live setup for showcase">
    </div>

    <div class="col-sm-12 col-md-4 col-lg-4">
      <img src="./assets/images/space/06.JPG" alt="Mark Nichols ensemble">
    </div>

    <div class="col-sm-12 col-md-4 col-lg-4">
      <img src="./assets/images/space/tenminutewarning.JPG" alt="Ten Minute Warning">
    </div>
  </div>
</div>


<div class="container">
  <div class="home-image-container ">

    <div class="col-sm-12 col-md-4 col-lg-4">
      <!--            <img src="./assets/images/space/Photo_119.jpg" alt="Chris Cornell at Stone Gossard 24 hour jam">-->

      <img src="./assets/images/space/Photo_084.jpg" alt="Stone Gossard Jam">
    </div>

    <div class="col-sm-12 col-md-4 col-lg-4">
      <img src="./assets/images/space/4.JPG" alt="The Big Room">
    </div>
    <div class="col-sm-12 col-md-4 col-lg-4">
      <img src="./assets/images/space/Photo_087.jpg" alt="Fire in the Control Room">

    </div>
  </div>
</div>
